In [1]:
from datetime import date

import polars as pl

In [2]:
DATA = '../data'
f = f'{DATA}/legislators-current.csv'

In [3]:
dtypes = {
    field: pl.Categorical
    for field in ['first_name', 'gender', 'type', 'state', 'party']}
df = (
    pl
    .read_csv(f, dtypes=dtypes)
    .with_column(pl.col('birthday').str.strptime(pl.Date, strict=False))
)
df.head()

shape: (5, 36)
┌───────────┬──────────┬───────────┬────────┬─────┬────────────┬────────────┬──────────┬────────────┐
│ last_name ┆ first_na ┆ middle_na ┆ suffix ┆ ... ┆ ballotpedi ┆ washington ┆ icpsr_id ┆ wikipedia_ │
│ ---       ┆ me       ┆ me        ┆ ---    ┆     ┆ a_id       ┆ _post_id   ┆ ---      ┆ id         │
│ str       ┆ ---      ┆ ---       ┆ str    ┆     ┆ ---        ┆ ---        ┆ i64      ┆ ---        │
│           ┆ cat      ┆ str       ┆        ┆     ┆ str        ┆ str        ┆          ┆ str        │
╞═══════════╪══════════╪═══════════╪════════╪═════╪════════════╪════════════╪══════════╪════════════╡
│ Brown     ┆ Sherrod  ┆ null      ┆ null   ┆ ... ┆ Sherrod    ┆ null       ┆ 29389    ┆ Sherrod    │
│           ┆          ┆           ┆        ┆     ┆ Brown      ┆            ┆          ┆ Brown      │
│ Cantwell  ┆ Maria    ┆ null      ┆ null   ┆ ... ┆ Maria      ┆ null       ┆ 39310    ┆ Maria      │
│           ┆          ┆           ┆        ┆     ┆ Cantwell   ┆            ┆          ┆ Cantwell   │
│ Cardin    ┆ Benjamin ┆ L.        ┆ null   ┆ ... ┆ Ben Cardin ┆ null       ┆ 15408    ┆ Ben Cardin │
│ Carper    ┆ Thomas   ┆ Richard   ┆ null   ┆ ... ┆ Tom Carper ┆ null       ┆ 15015    ┆ Tom Carper │
│ Casey     ┆ Robert   ┆ P.        ┆ Jr.    ┆ ... ┆ Bob Casey, ┆ null       ┆ 40703    ┆ Bob Casey  │
│           ┆          ┆           ┆        ┆     ┆ Jr.        ┆            ┆          ┆ Jr.        │
└───────────┴──────────┴───────────┴────────┴─────┴────────────┴────────────┴──────────┴────────────┘

In [4]:
q = (
    df
    .lazy()
    .groupby('first_name')
    .agg([
        pl.count(),
        pl.col('gender').list(),
        pl.first('last_name')])
    .sort('count', reverse=True)
    .limit(10))
q.collect()

shape: (10, 4)
┌────────────┬───────┬─────────────────────┬───────────┐
│ first_name ┆ count ┆ gender              ┆ last_name │
│ ---        ┆ ---   ┆ ---                 ┆ ---       │
│ cat        ┆ u32   ┆ list[cat]           ┆ str       │
╞════════════╪═══════╪═════════════════════╪═══════════╡
│ John       ┆ 21    ┆ ["M", "M", ... "M"] ┆ Barrasso  │
│ Mike       ┆ 15    ┆ ["M", "M", ... "M"] ┆ Kelly     │
│ Michael    ┆ 10    ┆ ["M", "M", ... "M"] ┆ Bennet    │
│ Robert     ┆ 9     ┆ ["M", "M", ... "M"] ┆ Casey     │
│ ...        ┆ ...   ┆ ...                 ┆ ...       │
│ James      ┆ 7     ┆ ["M", "M", ... "M"] ┆ Risch     │
│ Bill       ┆ 7     ┆ ["M", "M", ... "M"] ┆ Cassidy   │
│ Dan        ┆ 5     ┆ ["M", "M", ... "M"] ┆ Newhouse  │
│ Eric       ┆ 5     ┆ ["M", "M", ... "M"] ┆ Crawford  │
└────────────┴───────┴─────────────────────┴───────────┘

In [5]:
q = (
    df
    .lazy()
    .groupby('state')
    .agg([
        (pl.col('party') == 'Democrat').sum().alias('dem'),
        (pl.col('party') == 'Republican').sum().alias('rep'),
        ((pl.col('party') != 'Democrat') 
         & (pl.col('party') != 'Rebublican')).sum().alias('other')])
    .sort('other', reverse=True)
    .limit(10))
q.collect()

shape: (10, 4)
┌───────┬─────┬─────┬───────┐
│ state ┆ dem ┆ rep ┆ other │
│ ---   ┆ --- ┆ --- ┆ ---   │
│ cat   ┆ u32 ┆ u32 ┆ u32   │
╞═══════╪═════╪═════╪═══════╡
│ TX    ┆ 13  ┆ 27  ┆ 27    │
│ FL    ┆ 8   ┆ 22  ┆ 22    │
│ CA    ┆ 42  ┆ 12  ┆ 12    │
│ NY    ┆ 17  ┆ 11  ┆ 11    │
│ ...   ┆ ... ┆ ... ┆ ...   │
│ NC    ┆ 7   ┆ 9   ┆ 9     │
│ GA    ┆ 7   ┆ 9   ┆ 9     │
│ IN    ┆ 2   ┆ 9   ┆ 9     │
│ AL    ┆ 1   ┆ 8   ┆ 8     │
└───────┴─────┴─────┴───────┘

In [6]:
q = (
    df
    .lazy()
    .groupby('state')
    .agg([
        (pl.col('party') == 'Democrat').sum().alias('dem'),
        (pl.col('party') == 'Republican').sum().alias('rep')])
    .sort('dem', reverse=True)
    .limit(10))
q.collect()

shape: (10, 3)
┌───────┬─────┬─────┐
│ state ┆ dem ┆ rep │
│ ---   ┆ --- ┆ --- │
│ cat   ┆ u32 ┆ u32 │
╞═══════╪═════╪═════╡
│ CA    ┆ 42  ┆ 12  │
│ NY    ┆ 17  ┆ 11  │
│ IL    ┆ 16  ┆ 3   │
│ TX    ┆ 13  ┆ 27  │
│ ...   ┆ ... ┆ ... │
│ MA    ┆ 11  ┆ 0   │
│ WA    ┆ 10  ┆ 2   │
│ MI    ┆ 9   ┆ 6   │
│ MD    ┆ 9   ┆ 1   │
└───────┴─────┴─────┘

In [7]:
q = (
    df
    .lazy()
    .groupby(['state', 'party'])
    .agg([pl.count('party').alias('count')])
    .filter(
        (pl.col('party') == 'Democrat')
        | (pl.col('party') == 'Republican'))
    .sort('count', reverse=True)
    .limit(10))
q.collect()

shape: (10, 3)
┌───────┬────────────┬───────┐
│ state ┆ party      ┆ count │
│ ---   ┆ ---        ┆ ---   │
│ cat   ┆ cat        ┆ u32   │
╞═══════╪════════════╪═══════╡
│ CA    ┆ Democrat   ┆ 42    │
│ TX    ┆ Republican ┆ 27    │
│ FL    ┆ Republican ┆ 22    │
│ NY    ┆ Democrat   ┆ 17    │
│ ...   ┆ ...        ┆ ...   │
│ CA    ┆ Republican ┆ 12    │
│ OH    ┆ Republican ┆ 11    │
│ NY    ┆ Republican ┆ 11    │
│ NJ    ┆ Democrat   ┆ 11    │
└───────┴────────────┴───────┘

In [8]:
def compute_age() -> pl.Expr:
    return date(2021, 1, 1).year - pl.col('birthday').dt.year()

def avg_birthday(gender: str) -> pl.Expr:
    return (
        compute_age()
        .filter(pl.col('gender') == gender)
        .mean()
        .alias(f'mean {gender} birthday'))

In [9]:
q = (
    df
    .lazy()
    .groupby(['state'])
    .agg([
        avg_birthday('M'),
        avg_birthday('F'),
        (pl.col('gender') == 'M').sum().alias('n_male'),
        (pl.col('gender') == 'F').sum().alias('n_female')])
    .limit(10))
q.collect()

shape: (10, 5)
┌───────┬─────────────────┬─────────────────┬────────┬──────────┐
│ state ┆ mean M birthday ┆ mean F birthday ┆ n_male ┆ n_female │
│ ---   ┆ ---             ┆ ---             ┆ ---    ┆ ---      │
│ cat   ┆ f64             ┆ f64             ┆ u32    ┆ u32      │
╞═══════╪═════════════════╪═════════════════╪════════╪══════════╡
│ AR    ┆ 58.833333       ┆ null            ┆ 6      ┆ 0        │
│ UT    ┆ 59.5            ┆ null            ┆ 6      ┆ 0        │
│ CA    ┆ 55.138889       ┆ 65.833333       ┆ 36     ┆ 18       │
│ HI    ┆ 59.0            ┆ 59.5            ┆ 2      ┆ 2        │
│ ...   ┆ ...             ┆ ...             ┆ ...    ┆ ...      │
│ WA    ┆ 56.25           ┆ 55.75           ┆ 4      ┆ 8        │
│ MI    ┆ 61.0            ┆ 51.571429       ┆ 8      ┆ 7        │
│ RI    ┆ 59.0            ┆ null            ┆ 4      ┆ 0        │
│ WI    ┆ 55.0            ┆ 64.5            ┆ 8      ┆ 2        │
└───────┴─────────────────┴─────────────────┴────────┴──────────┘

In [10]:
def get_person() -> pl.Expr:
    return pl.col('first_name') + pl.lit(' ') + pl.col('last_name')

In [11]:
q = (
    df
    .lazy()
    .sort('birthday', reverse=True)
    .groupby(['state'])
    .agg([
        get_person().first().alias('youngest'),
        get_person().last().alias('oldest')])
    .limit(10))
q.collect()

shape: (10, 3)
┌───────┬──────────────────────────┬──────────────────────────┐
│ state ┆ youngest                 ┆ oldest                   │
│ ---   ┆ ---                      ┆ ---                      │
│ cat   ┆ str                      ┆ str                      │
╞═══════╪══════════════════════════╪══════════════════════════╡
│ NY    ┆ Alexandria Ocasio-Cortez ┆ Jerrold Nadler           │
│ TN    ┆ William Ogles            ┆ Steve Cohen              │
│ PR    ┆ Jenniffer González-Colón ┆ Jenniffer González-Colón │
│ VA    ┆ Abigail Spanberger       ┆ Robert Scott             │
│ ...   ┆ ...                      ┆ ...                      │
│ SC    ┆ Russell Fry              ┆ James Clyburn            │
│ IN    ┆ Rudy Yakym               ┆ James Baird              │
│ OR    ┆ Andrea Salinas           ┆ Earl Blumenauer          │
│ AZ    ┆ Juan Ciscomani           ┆ Raúl Grijalva            │
└───────┴──────────────────────────┴──────────────────────────┘

In [12]:
q = (
    df.
    lazy()
    .sort('birthday', reverse=True)
    .groupby(['state'])
    .agg([
        get_person().first().alias('youngest'),
        get_person().last().alias('eldest'),
        get_person().sort().first().alias('alphabetical')])
    .limit(10))
q.collect()

shape: (10, 4)
┌───────┬──────────────────────────┬──────────────────┬───────────────────┐
│ state ┆ youngest                 ┆ eldest           ┆ alphabetical      │
│ ---   ┆ ---                      ┆ ---              ┆ ---               │
│ cat   ┆ str                      ┆ str              ┆ str               │
╞═══════╪══════════════════════════╪══════════════════╪═══════════════════╡
│ IA    ┆ Ashley Hinson            ┆ Charles Grassley ┆ Ashley Hinson     │
│ NH    ┆ Chris Pappas             ┆ Jeanne Shaheen   ┆ Ann Kuster        │
│ WY    ┆ Harriet Hageman          ┆ John Barrasso    ┆ Cynthia Lummis    │
│ RI    ┆ Seth Magaziner           ┆ John Reed        ┆ David Cicilline   │
│ ...   ┆ ...                      ┆ ...              ┆ ...               │
│ UT    ┆ Blake Moore              ┆ Mitt Romney      ┆ Blake Moore       │
│ ND    ┆ Kelly Armstrong          ┆ John Hoeven      ┆ John Hoeven       │
│ MI    ┆ Haley Stevens            ┆ Jack Bergman     ┆ Bill Huizenga     │
│ NY    ┆ Alexandria Ocasio-Cortez ┆ Jerrold Nadler   ┆ Adriano Espaillat │
└───────┴──────────────────────────┴──────────────────┴───────────────────┘