In [1]:
import polars as pl

In [2]:
df = pl.read_csv(
    'https://gist.githubusercontent.com/ritchie46/'
    'cac6b337ea52281aa23c049250a4ff03/raw/'
    '89a957ff3919d90e6ef2d34235e6bf22304f3366/pokemon.csv')
df.head()

shape: (5, 13)
┌─────┬───────────────────────┬────────┬────────┬─────┬─────────┬───────┬────────────┬───────────┐
│ #   ┆ Name                  ┆ Type 1 ┆ Type 2 ┆ ... ┆ Sp. Def ┆ Speed ┆ Generation ┆ Legendary │
│ --- ┆ ---                   ┆ ---    ┆ ---    ┆     ┆ ---     ┆ ---   ┆ ---        ┆ ---       │
│ i64 ┆ str                   ┆ str    ┆ str    ┆     ┆ i64     ┆ i64   ┆ i64        ┆ bool      │
╞═════╪═══════════════════════╪════════╪════════╪═════╪═════════╪═══════╪════════════╪═══════════╡
│ 1   ┆ Bulbasaur             ┆ Grass  ┆ Poison ┆ ... ┆ 65      ┆ 45    ┆ 1          ┆ false     │
│ 2   ┆ Ivysaur               ┆ Grass  ┆ Poison ┆ ... ┆ 80      ┆ 60    ┆ 1          ┆ false     │
│ 3   ┆ Venusaur              ┆ Grass  ┆ Poison ┆ ... ┆ 100     ┆ 80    ┆ 1          ┆ false     │
│ 3   ┆ VenusaurMega Venusaur ┆ Grass  ┆ Poison ┆ ... ┆ 120     ┆ 80    ┆ 1          ┆ false     │
│ 4   ┆ Charmander            ┆ Fire   ┆ null   ┆ ... ┆ 50      ┆ 65    ┆ 1          ┆ false     │
└─────┴───────────────────────┴────────┴────────┴─────┴─────────┴───────┴────────────┴───────────┘

In [3]:
df.select([
    'Type 1',
    'Type 2',
    pl.col('Attack').mean().over('Type 1').alias('mean_attack_by_type'),
    pl
    .col('Defense')
    .mean()
    .over(['Type 1', 'Type 2'])
    .alias('mean_def_by_both_types'),
    pl.col('Attack').mean().alias('mean_attack')])

shape: (163, 5)
┌─────────┬────────┬─────────────────────┬────────────────────────┬─────────────┐
│ Type 1  ┆ Type 2 ┆ mean_attack_by_type ┆ mean_def_by_both_types ┆ mean_attack │
│ ---     ┆ ---    ┆ ---                 ┆ ---                    ┆ ---         │
│ str     ┆ str    ┆ f64                 ┆ f64                    ┆ f64         │
╞═════════╪════════╪═════════════════════╪════════════════════════╪═════════════╡
│ Grass   ┆ Poison ┆ 72.923077           ┆ 67.8                   ┆ 75.349693   │
│ Grass   ┆ Poison ┆ 72.923077           ┆ 67.8                   ┆ 75.349693   │
│ Grass   ┆ Poison ┆ 72.923077           ┆ 67.8                   ┆ 75.349693   │
│ Grass   ┆ Poison ┆ 72.923077           ┆ 67.8                   ┆ 75.349693   │
│ ...     ┆ ...    ┆ ...                 ┆ ...                    ┆ ...         │
│ Dragon  ┆ null   ┆ 94.0                ┆ 55.0                   ┆ 75.349693   │
│ Dragon  ┆ null   ┆ 94.0                ┆ 55.0                   ┆ 75.349693   │
│ Dragon  ┆ Flying ┆ 94.0                ┆ 95.0                   ┆ 75.349693   │
│ Psychic ┆ null   ┆ 53.875              ┆ 51.428571              ┆ 75.349693   │
└─────────┴────────┴─────────────────────┴────────────────────────┴─────────────┘

In [4]:
filtered = (
    df
    .filter(pl.col('Type 2') == 'Psychic')
    .select(['Name', 'Type 1', 'Speed']))
filtered

shape: (7, 3)
┌─────────────────────┬────────┬───────┐
│ Name                ┆ Type 1 ┆ Speed │
│ ---                 ┆ ---    ┆ ---   │
│ str                 ┆ str    ┆ i64   │
╞═════════════════════╪════════╪═══════╡
│ Slowpoke            ┆ Water  ┆ 15    │
│ Slowbro             ┆ Water  ┆ 30    │
│ SlowbroMega Slowbro ┆ Water  ┆ 30    │
│ Exeggcute           ┆ Grass  ┆ 40    │
│ Exeggutor           ┆ Grass  ┆ 55    │
│ Starmie             ┆ Water  ┆ 115   │
│ Jynx                ┆ Ice    ┆ 95    │
└─────────────────────┴────────┴───────┘

In [5]:
(filtered
 .with_columns([
     pl.col(['Name', 'Speed']).sort(reverse=True).over('Type 1')]))

shape: (7, 3)
┌─────────────────────┬────────┬───────┐
│ Name                ┆ Type 1 ┆ Speed │
│ ---                 ┆ ---    ┆ ---   │
│ str                 ┆ str    ┆ i64   │
╞═════════════════════╪════════╪═══════╡
│ Starmie             ┆ Water  ┆ 115   │
│ Slowpoke            ┆ Water  ┆ 30    │
│ SlowbroMega Slowbro ┆ Water  ┆ 30    │
│ Exeggutor           ┆ Grass  ┆ 55    │
│ Exeggcute           ┆ Grass  ┆ 40    │
│ Slowbro             ┆ Water  ┆ 15    │
│ Jynx                ┆ Ice    ┆ 95    │
└─────────────────────┴────────┴───────┘

In [8]:
(df
 .sort('Type 1')
 .select([
     pl.col('Type 1')
         .head(3)
         .list()
         .over('Type 1')
         .flatten(),
     pl.col('Name')
         .sort_by(pl.col('Speed'))
         .head(3)
         .list()
         .over('Type 1')
         .flatten()
         .alias('Group Fastest'),
     pl.col('Name')
         .sort_by(pl.col('Attack'))
         .head(3)
         .list()
         .over('Type 1')
         .flatten()
         .alias('Group Strongest'),
     pl.col('Name')
         .sort()
         .head(3)
         .list()
         .over('Type 1')
         .flatten()
         .alias('Group First (alpha)')]))

shape: (43, 4)
┌────────┬─────────────────────┬─────────────────┬─────────────────────────┐
│ Type 1 ┆ Group Fastest       ┆ Group Strongest ┆ Group First (alpha)     │
│ ---    ┆ ---                 ┆ ---             ┆ ---                     │
│ str    ┆ str                 ┆ str             ┆ str                     │
╞════════╪═════════════════════╪═════════════════╪═════════════════════════╡
│ Bug    ┆ Paras               ┆ Metapod         ┆ Beedrill                │
│ Bug    ┆ Metapod             ┆ Kakuna          ┆ BeedrillMega Beedrill   │
│ Bug    ┆ Parasect            ┆ Caterpie        ┆ Butterfree              │
│ Dragon ┆ Dratini             ┆ Dratini         ┆ Dragonair               │
│ ...    ┆ ...                 ┆ ...             ┆ ...                     │
│ Rock   ┆ Omanyte             ┆ Omastar         ┆ Geodude                 │
│ Water  ┆ Slowpoke            ┆ Magikarp        ┆ Blastoise               │
│ Water  ┆ Slowbro             ┆ Tentacool       ┆ BlastoiseMega Blastoise │
│ Water  ┆ SlowbroMega Slowbro ┆ Horsea          ┆ Cloyster                │
└────────┴─────────────────────┴─────────────────┴─────────────────────────┘