In [1]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [2]:
'python ' * 5

'python python python python python '

In [3]:
[42] * 4

[42, 42, 42, 42]

In [4]:
[None] * 10

[None, None, None, None, None, None, None, None, None, None]

In [5]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [6]:
names = ['Aladdin', 'Boris', 'Clancy', 'Dracula']
del names[2]
names

['Aladdin', 'Boris', 'Dracula']

In [1]:
n = [1, 5]
n[1:1] = [2, 3, 4]
n

[1, 2, 3, 4, 5]

In [2]:
n[1:4] = []
n

[1, 5]

In [18]:
s = 'to be or not to be'.split(' ')
to_count = s.count('to')
to_count

2

In [4]:
a = [1, 2, 3]
b = [4, 5, 6]
a.extend(b) # faster than concatentation (a += b)
a

[1, 2, 3, 4, 5, 6]

In [5]:
a += b
a

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [6]:
knights = 'we are the knights who say ni'.split(' ')
knights.index('ni')

6

In [7]:
knights.insert(5, "don't")
knights

['we', 'are', 'the', 'knights', 'who', "don't", 'say', 'ni']

In [8]:
x = knights.pop()
knights

['we', 'are', 'the', 'knights', 'who', "don't", 'say']

In [9]:
x

'ni'

In [10]:
x = knights.pop(0)
print(x, knights)

we ['are', 'the', 'knights', 'who', "don't", 'say']

In [12]:
knights.insert(0, 'they')
knights.extend('5 is right out'.split(' '))
knights

['they',
 'are',
 'the',
 'knights',
 'who',
 "don't",
 'say',
 '5',
 'is',
 'right',
 'out']

In [19]:
s

['to', 'be', 'or', 'not', 'to', 'be']

In [20]:
s.remove('be')
s

['to', 'or', 'not', 'to', 'be']

In [21]:
s.insert(1, 'be')
s.reverse()
s

['be', 'to', 'not', 'or', 'be', 'to']

### Advanced Sorting

In [3]:
x = ['aardvark', 'abalone', 'acme', 'add', 'a', 'aerate']
x.sort(key=len)
print(x)

['a', 'add', 'acme', 'aerate', 'abalone', 'aardvark']

# Tuples: Immutable Sequences

In [5]:
single_tuple = 42,
print(single_tuple)
print(type(single_tuple))

(42,)
<class 'tuple'>

In [6]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')