Adapted from the tutorial <a href="https://realpython.com/fast-flexible-pandas/">here</a>.

In [1]:
import pandas as pd

pd.__version__

'1.3.5'

In [2]:
df = pd.read_csv('../data/demand_profile.csv')
df.head()

     date_time  energy_kwh
0  1/1/13 0:00       0.586
1  1/1/13 1:00       0.580
2  1/1/13 2:00       0.572
3  1/1/13 3:00       0.596
4  1/1/13 4:00       0.592

In [3]:
df.dtypes

date_time      object
energy_kwh    float64
dtype: object

In [4]:
type(df.iat[0, 0])

str

In [5]:
%%timeit
df['date_time2'] = pd.to_datetime(df.date_time)
df.date_time.dtype

401 ms ± 952 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [6]:
df.head()

     date_time  energy_kwh          date_time2
0  1/1/13 0:00       0.586 2013-01-01 00:00:00
1  1/1/13 1:00       0.580 2013-01-01 01:00:00
2  1/1/13 2:00       0.572 2013-01-01 02:00:00
3  1/1/13 3:00       0.596 2013-01-01 03:00:00
4  1/1/13 4:00       0.592 2013-01-01 04:00:00

In [7]:
%%timeit
df['date_time3'] = pd.to_datetime(df.date_time, format='%d/%m/%y %H:%M')

16.7 ms ± 79.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)